<!DOCTYPE html>
<html lang='en'>
<head>

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<title>Content Worth Sharing</title>

	<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">	
	
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

   	<script src='angularModule.js'></script> 	
</head>
<body ng-app='ContentModule' ng-controller='contentController'>

	<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#contentnav'>
					<span class='sr-only'>Toggle Navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>

				<a class='navbar-brand' href='/'>NewsWS</a>
			</div>

			<div class='collapse navbar-collapse' id='contentnav'>
				<ul class='nav navbar-nav'>
					<li><a href='/'>Latest</a></li>
					<li><a href='/'>Trending</a></li>
					<li><a href='/'>Most Viewed</a></li>
				</ul>

				<div class='col-sm-4 col-md-4 pull-right'>
					<form class='navbar-form' role='search'>
						<div class='input-group'>
							<input type='search' class='form-control' ng-model='searchStr' placeholder='search'>
							<div class='input-group-btn'>
								<button class='btn btn-default' type='submit' ng-click='search()'><i class='glyphicon glyphicon-search'></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</nav>

	<br>
	<br>
	<br>

	<div class='container' id='tempId'>
		<div class='row'>
			<div class='col-sm-8 col-sm-offset-2 text-center'>
				<md-card>
					<a ng-href='{{ items[0].contentURL }}'><img ng-src='{{ items[0].ogImageURL | trustUrl }}' class='img-responsive' width=720 height=405></a>
					 <md-card-content>
				<h3>{{ items[0].ogTitle }}</h3>
				<hr>
				<p>{{ items[0].ogDescription }}</p>
				</md-card-content>
				</md-card>
				<br>
				<hr>
			</div>
		</div>

		<div class='row'>
			<div ng-repeat='item in items'>
				<div class='col-sm-6 card'>
					<md-card>
						<a ng-href='{{ item.contentURL }}'><img ng-src='{{ item.ogImageURL | trustUrl }}' class='img-responsive' width=480 height=200></a>
						<md-card-content>
							<h3>{{ item.ogTitle }}</h3>
							<hr>
							<p>{{ item.ogDescription }}</p>
						</md-card-content>
						<div class='btn-group'>
							<button type='button' ng-click='like(item)'>Like</button>
							<button type='button' ng-click='dislike(item)'>Dislike</button>
						</div>
					</md-card>
				</div>
			</div>
		</div>
		<hr>
		<button type='button' ng-click='loadMore()'>Load More</button>
		<br>
		<br>
	</div>
</body>
</html>





