<html lang="en">
  <head>

    <meta name="viewport" content="initial-scale=1" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
    <link href='./style.css' rel='stylesheet'>
  </head>
  <body>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div layout='row' ng-app='SubmitModule' ng-controller='submitController'>
    <div layout='column' flex='60' offset='20'>
      <md-card>
        <md-card-content>
          <div layout='column'>
            <h3 align='center'>Submit Content</h3>
            <md-input-container>
              <label>Content URL</label>
              <input type='url' ng-model='contentURL' required>
            </md-input-container>
            
            <md-select ng-model='selectedCategory' required>
                <md-option ng-value='category' ng-repeat='category in categories' value='{{ category }}'>{{ category }}</md-option>
            </md-select>

            <h3 ng-if='error' align='center'>
              {{ error }}
            </h3>

            <h3 ng-if='success' align='center'>
              {{ success }}
            </h3>

            <br>
            <br>
            <md-button class='md-raised' ng-disabled='!contentURL || !selectedCategory' ng-click='insert()'>
              <span ng-if='!processing'>Submit</span>
              <span ng-if='processing' class='spinner'><i class="fa fa-repeat"></i></span>
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.js"></script>
    <script src='submitModule.js'></script>
  </body>
</html>
